<!DOCTYPE html>
<html>
    <body>
        <h1>the server operating system :{{ ansible_distribution }} </hi>
        <br> 
        <h1>the server hostname :{{ ansible_hostname }} </h1>
        <br> 
        <h1>the admin user : {{ host_user }} </h1>

    <body>
</html>
