[defaults]
host_key_checking = false

[inventory]
enable_plugins = aws_ec2

#[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'auto', 'yaml', 'ini', 'toml'
#enable_plugins = host_list, virtualbox, yaml, constructed